<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
!pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
%load_ext sql

In [ ]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas==1.1.5

In [ ]:
%sql sqlite:///my_data1.db

In [ ]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

**Note:This below code is added to remove blank rows from table**

In [ ]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [ ]:
%Sql display name_unique_launch_sites 
select from space mission
     WHERE launch_sites
     NAME OF UNIQUE LAUNCH SITE
       CCAFS SLC-40
       VAFB SCL 4E
       KSC LC 39A
       CCAF SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [ ]:
CCAFSLC-40 - Dragon spacecraft Qualification Unit
CCAFSLC-40 - Dragon demo flight C1,two cubesats, barell of Brouere
CCAFSLC-40 - Dragon demo flight C2
CCAFS LC-40 - SpaceXCR 1
CCAFS LC-40 - spaceXCR 2

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
%sql SELECT SUM of Payloadmass AS SUM_OF_PAYLOADMASS
  FROM BOOSTER VERSION WHERE NASA(CRS);
    
Output= 45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
%sql SELECT AVG(COST) FROM PAYLOADMASS FROM BOOSTER_VERSION F9V1.1
 
output= 2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [ ]:
%sql SELECT DAY(SUCESSFUL)  FROM LANDING_OUTCOME WHERE GROUND PAD  
 
 12/22/2015

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [ ]:
SELECT NAME FROM BOOSTER_NAME  WHERE landing_sucess, PAYLOAD_MASS GREATER>=4000 AND LESS< =6000

         BOOSTER                
       F9FTBIO22             
       F9FTBI026
       F9FTB1021.2
       F9FTB1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [ ]:
%sql SELECT *COUNT MISSION_OUTCOME AS TOTAL_NUMBER
 FROM SPATEX_DATASET,
WHERE MISSION_OUTCOME IN('SUCESS','FAILURE')
GROUP BY MISSION_OUTCOME

correct answer=102
                mission_outcome     count
          0       success            100
          1       failure             1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
%sql SELECT BOOSTER_VERSION 
      FROM SPATEX  
    WHERE PAYLOAD_MASS =(SELECT MAX(PAYLOAD_MASS)
     FROM SPATEX
    );  
     BoosterVersion
   0 F9B5 b1048.4
   1 F9B5 B1049.4
   2 F9B5 B1051.3
   3 F9B5 B1056.4
   4 F9B5 B1048.5
   5 F9B5 B1051.4
   6 F9B5 B1049.5
   7 F9B5 B1060.2
   8 F9B5 B1058.3
   9 F9B5 B1051.6
  10 F9B5 B1060.3
  11 F9B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [ ]:
SQL SELECT MOUTH 
    FROM LANDING_DATE AS SUBSTR(DATE,0,5)='2015'FOR YEAR
    WHEN LANDING_OUTCOME='FAILURE' THEN 'DRONE
    
    
     landing_outcome     boosterversions     launchsites
    0 failure(drone-ship)    F9v1.B1010        CCAFS LC 40
    1  Failure(drone-ship)   F9v1.B1012        CCAFS LC40
    2 Failure(drone-ship)    F9v1.B1017         VAFB SLC 4E
    3 Failure (drone-ship)   F9FTB1020         CCAFS LC 40
    4 Faiure(drone-ship)     F9FTB1024         CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [ ]:
SELECT COUNT(*)LANDING_OUTCOME,
FROM SPATEX WHEREE DATE BETWEEN'2010-06-04' AND '2017-03-20'
GROUP BY LANDING_OUTCOME 
ORDER BY COUNT OF OUTCOME DESC;

   Landing_outcome 
0    No attempt         10
1    Success(drone-ship)  5
2    Failure(drone ship) 5
3    Success(ground pad) 3 
4    controlled(ocean)   3
5   uncontrolled(ocean)  2
6   precluded(drone-ship) 1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>